extends layout
block extra
   link(rel='stylesheet'  href='/stylesheets/index.css')
   link(rel='stylesheet'  href='/stylesheets/style.css')
   script(src='javascripts/modernizr.js')
   script.
      var signinMessage="#{signinMessage}";
      var signupMessage="#{signupMessage}"; 
block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner.header             
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='/') Home

          |           
          .inner.cover
            h1.cover-heading #{title}
            |             
            p.lead
              | We believe, genetic information is another dimension of human beings.    
            p.lead
              -if(!user) 
               a.btn.btn-lg.btn-transparent.cd-signin(href='#0') Sign in  
               a.btn.btn-lg.btn-transparent.cd-signup(href='#0') Sign up
               
              -else 
               h4 welcome #{user}
               a.btn.btn-lg.btn-transparent(href='/profile') My page 
               a.btn.btn-lg.btn-transparent(href='/logout') Log out
          |           
          .mastfoot
            .inner
              p
                | Powered by  
                a(href='http://getbootstrap.com') Bootstrap
                | , constructed by
                | @HuiYang
                | . 
   include ./templates/login-modal.jade             
   script(src='javascripts/main.js')
       
  