doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/bootstrap.min.js')   
    block extra
  body
    block content