.container-fluid.main 
    .container
     h3.page-header Welcome, #{user.data.name}
     -if(user.data.bools && user.data.bools.reportReady)
      .col-xs-3.sidebar
             .list-group.side
                 li.list-group-item.focus#health  Health
                 //li.list-group-item#ethnicity  Ethnicity
                 li.list-group-item#account  Account
                 li.list-group-item#upload  Upload
                 li.list-group-item#notice  
                     |Notice 
                     span.badge.notice New
                     
      case subpage
        when "upload"
         include ./templates/me_upload.jade
        //when "ethnicity"
        // include ./templates/me_ethnicity.jade
        when "notice"
         include ./templates/notice.jade
        when "account"
         include ./templates/me_account.jade
        default
         include ./templates/me_health.jade
     -else
      .col-xs-3.sidebar
             .list-group.side
                 li.list-group-item.focus#upload  Upload
                 li.list-group-item#account  Account
                 li.list-group-item#notice  
                     |Notice 
                     span.badge.notice New
      case subpage
        when "upload"
          include ./templates/me_upload.jade
        when "notice"
          include ./templates/notice.jade
        when "account"
          include ./templates/me_account.jade
        default
          include ./templates/me_upload.jade
        
    
script(src='/javascripts/controllers/me_control.js')
                