extends layout
block extra
    link(href='/stylesheets/fileinput.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-select.min.css', rel='stylesheet')
    link(href='/stylesheets/profile.css', rel='stylesheet')
    link(href='/bower_components/bootstrap-checkbox-x/css/checkbox-x.min.css', rel='stylesheet')
    script(src='/javascripts/bootstrap-select.min.js')
    script(src='/javascripts/fileinput.min.js')
    script(src='/javascripts/socket.io-1.3.3.js')
    script(src='/bower_components/bootstrap-checkbox-x/js/checkbox-x.min.js')
    script(src='/javascripts/profile.js')
block content
   .container-fluid.header    
       ul#menu-bar.col-md-12
          .container
             li.brand
               a(href='/')  #{title}
             li.brand.left.small.focus#me
               label.image-replace.cd-username  
               a(href='/profile/me') Me     
             li.brand.small#family  
               label.image-replace.cd-family  
               a(href='/') Family 
             li.brand.small#social  
               label.image-replace.cd-social
               a(href='/profile/social') Social
             li.brand.small#discovery  
               label.image-replace.cd-discovery
               a(href='/') Discovery
             li.brand.small.right
               label.image-replace.cd-exit
               a(href='/logout') Log Out
   case page
     when "me" 
        include me.jade 
     when "social"
        include social.jade
     when "upload"
        include upload.jade           
     default
        include me.jade
          
          
          
          