.container-fluid.main 
    .container
     h3.page-header Welcome, #{user.data.name}
     .col-xs-3.sidebar
             .list-group.side
                 li.list-group-item.focus#friends Friends
                 li.list-group-item#chat Chat  
                 -if(user.data.bools && user.data.bools.reportReady)
                  li.list-group-item#breed Activities
                 li.list-group-item#notice
                    |Notice 
                    span.badge.notice New
     case subpage
        when "chat"
          include ./templates/social_chat.jade
        when "friends"
          include ./templates/social_friends.jade
        when "notice"
          include ./templates/notice.jade
        default
          include ./templates/social_friends.jade
    
    
script(src='/javascripts/controllers/social_control.js')