.container-fluid.main 
    .container
        h3.page-header Welcome, #{user.data.name}
        .col-xs-9
          h4 Your file has been uploaded succesfully! (Refresh after 
              span#second(style="font-weight:600") 10  
              | seconds)
              br
              br
              |Please wait for about 10-30 minutes........ 
             

script.
       var seconds = 10;
       var bools = "#{user.data.bools}";
       var colors = ["#3333ff","#ff3333","#cccc33","#aaccaa","#ffaa33","#33ffaa"];
       if(bools){
        var ready = "#{user.data.bools.reportReady}";
        if(ready==true)
        {
           window.location.replace("/profile");
        }
       }
       
       setInterval(function(){
         if(seconds>0) {seconds = seconds-1; 
         $("span#second").text(" "+seconds+" ")
           .css("color",colors[Math.floor(Math.random() * colors.length)]);
           }
       },1000);
       setTimeout(window.location.reload.bind(window.location), 9999);           