.cd-user-modal
      // this is the entire modal form, including the background
      .cd-user-modal-container
        // this is the container wrapper
        ul.cd-switcher
          li
            a(href='#0') Sign in
          | 
          li
            a(href='#0') New account
        | 
        #cd-login
          // log in form
          form.cd-form(action='/signin', method='post')
            p.fieldset
              label.image-replace.cd-email(for='signin-email') E-mail
              | 
              input#signin-email.full-width.has-padding.has-border(name='email', type='email', placeholder='E-mail') 
              | 
              span.cd-error-message 
            | 
            p.fieldset
              label.image-replace.cd-password(for='signin-password') Password
              | 
              input#signin-password.full-width.has-padding.has-border(name='password', type='password', placeholder='Password')
              | 
              a.hide-password(href='#0') Show
              |  
              span.cd-error-message 
            | 
            p.fieldset
              input#remember-me(type='checkbox', checked='', name="remember")
              | 
              label(for='remember-me') Remember me
            | 
            p.fieldset
              input.full-width(type='submit', value='Login')
          | 
          | 
          p.cd-form-bottom-message
            a(href='#0') Forgot your password?
          // <a href="#0" class="cd-close-form">Close</a>
        // cd-login
        #cd-signup
          // sign up form
          form.cd-form(method='post', action='/signup')
            p.fieldset
              label.image-replace.cd-username(for='signup-username') Username
              | 
              input#signup-username.full-width.has-padding.has-border(name='name', type='text', placeholder='Username')
              | 
              span.cd-error-message
            | 
            p.fieldset
              label.image-replace.cd-email(for='signup-email') E-mail
              | 
              input#signup-email.full-width.has-padding.has-border(name='email', type='email', placeholder='E-mail')
              | 
              span.cd-error-message
            | 
            p.fieldset
              label.image-replace.cd-password(for='signup-password') Password
              | 
              input#signup-password.full-width.has-padding.has-border(name='password', type='password', placeholder='Password')
              | 
              a.hide-password(href='#0') Hide
              | 
              span.cd-error-message
            | 
            p.fieldset
              input#accept-terms(type='checkbox')
              | 
              label(for='accept-terms')
                | I agree to the 
                a(href='#0') Terms
            | 
            p.fieldset
              input.full-width.has-padding(type='submit', value='Create account')
          // <a href="#0" class="cd-close-form">Close</a>
        // cd-signup
        #cd-reset-password
          // reset password form
          p.cd-form-message
            | Lost your password? Please enter your email address. You will receive a link to create a new password.
          | 
          form.cd-form
            p.fieldset
              label.image-replace.cd-email(for='reset-email') E-mail
              | 
              input#reset-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
              | 
              span.cd-error-message Error message here!
            | 
            p.fieldset
              input.full-width.has-padding(type='submit', value='Reset password')
          | 
          p.cd-form-bottom-message
            a(href='#0') Back to log-in
        // cd-reset-password
        a.cd-close-form(href='#0') Close
      // cd-user-modal-container
    // cd-user-modal
