.col-xs-9
    .row
      .col-xs-3
        img.thumbnail(width="134",height="180",style="margin:auto")    
      form.form-horizontal.col-xs-9(style="padding:0")
        label.col-xs-2.control-label Email
        .col-xs-10
           p.form-control-static yanghui@usc.edu
           
         
script.
    $('li.list-group-item.focus').removeClass('focus');
    $('li.list-group-item#account').addClass('focus');