mixin table(s, n, odds,header)
  table.table.table-hover
       tr
       -if(header)
          each item in header
            th=item
       -if(s<n)
        -for(var i =s; i< n;i++)
         tr
          td.col-xs-4=odds[i].disease
          td=odds[i].pop_risk.toFixed(2)
          td=odds[i].conf
       -else   
        -for(var i =s-1; i>= n;i--)
         tr
          td.col-xs-4=odds[i].disease
          td=odds[i].pop_risk.toFixed(2)
          td=odds[i].conf
          
mixin variant_table(object, header, condition)
  table.table.table-hover
     tr
      -if(header)
       each item in header
         th=item
     -for(var gene in object)
      tr
        -for(var variant in object[gene])
         -if(condition && condition=="acmg")
          -var disease = object[gene][variant].acmg.split(/\t/)[0];
         -else if(condition && condition=="phenolyzer")
          -var disease = object[gene][variant].gene_disease.split(/\t/)[0];
         -else
          -var disease = object[gene][variant].disease
         td=disease
         td.col-xs-3=gene
         -break    
- var header_risk = ["Disease","Relative Risk to Population","Confidence"];
- var header_traits=["Traits","Relative Difference to Population","Confidence"];   
- var header_clinvar=["Disease","Gene"];
- var odds = user.data.clinical.gwas.odds;
- var beta = user.data.clinical.gwas.beta;    
- var clinvar = user.data.clinical.clinvar;   
- var ambry = user.data.clinical.ambry;  
- var acmg = user.data.clinical.acmg;
- var phenolyzer = user.data.clinical.phenolyzer;
.col-xs-9
  ul.nav.nav-tabs(role="tablist")
    li(role="presentation", class="active")
        a(href="#risk",aria-controls="risk",role="tab",data-toggle="tab") Health Risk
    li(role="presentation")
        a(href="#traits",aria-controls="traits",role="tab",data-toggle="tab") Traits Prediction
    li(role="presentation")
        a(href="#variants",aria-controls="variants",role="tab",data-toggle="tab") Disease Alleles
    li(role="presentation")
        a(href="#download",aria-controls="download",role="tab",data-toggle="tab") Download
  .tab-content
    .tab-pane.fade.in.active#risk
       .col-xs-11.spaceful
        .panel.panel-danger
         .panel-heading(style="font-weight:700") 
            |Your top 10 risky diseases
         .panel-body
            +table(0,10,odds, header_risk)
        .panel.panel-info
         .panel-heading(style="font-weight:700") 
            |Your top 10 least risky diseases
         .panel-body
            +table(odds.length,odds.length-10,odds,
                   header_risk)
                   
    .tab-pane.fade#traits    
       .col-xs-11.spaceful
        .panel.panel-danger
         .panel-heading(style="font-weight:700") 
            |Your top 10 positively abnormal traits
         .panel-body
            +table(0,10,user.data.clinical.gwas.beta,
                   header_traits) 
        .panel.panel-info
         .panel-heading(style="font-weight:700") 
            |Your top 10 negatively abnormal traits
         .panel-body
            +table(beta.length,beta.length-10,beta,
                   header_traits)
                   
    .tab-pane.fade#variants
      .col-xs-11.spaceful
         .panel.panel-primary
           .panel-heading(style="font-weight:700") 
            |Rare Variants in ClinVar
           .panel-body
            +variant_table(clinvar, header_clinvar)    
         .panel.panel-primary
           .panel-heading(style="font-weight:700") 
             |Confident Disease Gene Screen
           .panel-body
            +variant_table(ambry, header_clinvar)    
         .panel.panel-success
           .panel-heading(style="font-weight:700")
             |Rare Variants in ACMG Disease Gene
           .panel-body
            +variant_table(acmg, header_clinvar,"acmg")
         .panel.panel-success
           .panel-heading(style="font-weight:700")
             |Rare Variants in OMIM, Orphanet, GeneReviews Disease Genes
           .panel-body
            +variant_table(phenolyzer, header_clinvar,"phenolyzer")
            
    .tab-pane.fade#download
        .col-xs-12.spaceful
           .panel.panel-success 
             .panel-body
                 a.text-info(href="/download/me-report") Download Personal Result (txt format)
link(href='/stylesheets/controllers/me_health.css', rel='stylesheet')
                   