.col-xs-9(style="padding-bottom:50px")     
       -if(user.data.bools && user.data.bools.running)
        .col-xs-9
          h4 Your file has been uploaded succesfully! (Refresh after 
              span#second(style="font-weight:600") 10  
              | seconds)
              br
              br
              |Please wait for about 10-30 minutes........ 
          br    
          script.
            var seconds = 10;
            var bools = "#{user.data.bools}";
            var colors = ["#3333ff","#ff3333","#33ff33"];                
            setInterval(function(){
             if(seconds>0) {seconds = seconds-1; 
             $("span#second").text(" "+seconds+" ")
               .css("color",colors[Math.floor(Math.random() * colors.length)]);
               }
            },1000);
            setTimeout(window.location.reload.bind(window.location), 9999);           
       -else 
        -if(!user.data.bools || !user.data.bools.reportReady)
         h4. 
               You haven't uploaded any file yet. Please upload your file to discover your genome!
        -else 
         h4. 
               You already have a report. Upload again will delete your old report!
         br
        -if(error)
         .alert.alert-danger(role="alert",style="font-weight:700")
                   |#{error}!
        form(role="form" action="/upload" method="post" ENCTYPE="multipart/form-data")    
           .form-group
             .col-xs-8 
              label Does your file cover the whole genome
              select.col(name="coverage" class="selectpicker show-menu-arrow k" )
               option(selected=true value="no") No
               option(value="yes") Yes
                    
           .form-group
             .col-xs-8 
              label Choose your file type
              select.col(name="filetype" class="selectpicker show-menu-arrow k" )
               option(selected=true value="vcf") VCF file
               option(value="23andme") 23andme file
           .form-group
             .col-xs-9 
               label Upload your file
               input(id="input-id" type="file" class="file" data-show-preview="false" name="file")
               
script.
    $('li.list-group-item.focus').removeClass('focus');
    $('li.list-group-item#upload').addClass('focus');
     
     