.col-xs-9
    div.col-xs-12#notice-table
        

script.
    $('li.list-group-item.focus').removeClass('focus');
    $('li.list-group-item#notice').addClass('focus');
script(src="/javascripts/controllers/notice.js") 