.col-xs-9
    .col-xs-9.chat-container
     ul#messages   
         
     form.form-inline#chat-form(action="")
      .form-group.col-xs-9(style="padding:0")
       textarea.form-control#chat(autocomplete="off",type="text",rows='4')
      .form-group.col-xs-3(style="padding:0")                   
       button.btn.btn-primary.btn-lg#submit Send
       button.btn.btn-danger.btn-lg#refresh refresh
    .col-xs-3
        h4.text-info(style="margin-top:5px") Chat to:
        label.control-label(for="input-1") Everyone
        input#input-1(type="checkbox",data-toggle="checkbox-x",data-size="md",
               data-three-state="false", readonly='', value=1)
         

link(href='/stylesheets/controllers/social_chat.css', rel='stylesheet')
script(src="/javascripts/controllers/social_chat.js")

      