.cd-user-modal#add-friend
      // this is the entire modal form, including the background
      .cd-user-modal-container
            textarea.form-control.add-friend(autocomplete="off",
                            placeholder="Please say something to your new friend....",type="text",rows='4')
            button.btn.btn-info.send-add-friends Send
            button.btn.btn-danger.close-add-friends Cancel
      // cd-user-modal-container
    // cd-user-modal
