mixin tableRandom(s, n, userlist)
     table.table   
        -for(var i =s; i< n;i++)
         -if(userlist[i].email)
           tr
            td.col.xs-10(style="font-size:10px;max-width:30px;word-wrap:break-word")=userlist[i].name
            td.col-xs-1
             span.glyphicon.glyphicon-plus.add-friends(aria-hidden="true",style="float:right;font-size:18px;color:#55aaef;margin-right:0px",
                                                         data="#{userlist[i].email}", data-id="#{userlist[i].id}")
            td.col-xs-1
             span.glyphicon.glyphicon-envelope.send-email(aria-hidden="true",
                                      style="float:right;font-size:18px;margin-right:0px;color:#444466",
                                      data="#{userlist[i].email}",data-toggle="tooltip",data-placement="left",title="#{userlist[i].email}")
mixin tableFriends(userlist)
     table.table   
        -for(var id in userlist)
         -if(userlist[id].email)
           tr
            td.col.xs-10(style="font-size:10px;max-width:30px;word-wrap:break-word")=userlist[id].name
            td.col-xs-1
             span.glyphicon.glyphicon-remove.delete-friends(aria-hidden="true",style="float:right;font-size:18px;color:#ee3333;margin-right:0px",
                                                         data="#{userlist[id].email}", data-id="#{id}")
            td.col-xs-1
             span.glyphicon.glyphicon-envelope.send-email(aria-hidden="true",
                                      style="float:right;font-size:18px;margin-right:0px;color:#444466",
                                      data="#{userlist[id].email}",data-toggle="tooltip",data-placement="left",title="#{userlist[id].email}")
             


.col-xs-9   
  .row#top
     .col-xs-6(style="float:right")
      .input-group
         input.form-control#search(type="text",placeholder="Search with emails or names")
         span.input-group-btn
            button.btn.btn-default#search-button(type="button") 
              span.glyphicon.glyphicon-search(area-hidden="true")
  br
  .wide
   .col-xs-4.wide
    .panel.panel-default
     .panel-heading(style="font-weight:700") 
        |Your friends  
     .panel-body
       -if(user.data)
        +tableFriends(user.data.friends)
   .col-xs-4.wide
    .panel.panel-default
     .panel-heading(style="font-weight:700") 
        |Your groups
     .panel-body
       -if(user.data)
        +tableFriends(user.data.groups)
   .col-xs-4.wide
    .panel.panel-default
     .panel-heading(style="font-weight:700") 
        |Random people    
     .panel-body  
       -if(userlist)
        +tableRandom(0,userlist.length,userlist)

include ./social_friends_add.jade
include ./social_friends_delete.jade
link(href='/stylesheets/controllers/social_friends.css', rel='stylesheet')            
script(src="/javascripts/controllers/social_friends.js")

    
    