.cd-user-modal#delete-friend
      // this is the entire modal form, including the background
      .cd-user-modal-container(style="text-align:center;padding:30px 0;max-width:500px")
            h4.text-danger
             strong Do you really want to delete your friend?
            button.btn.btn-danger.yes-delete-friends Yes
            button.btn.btn-info.no-delete-friends No
      // cd-user-modal-container
    // cd-user-modal
