/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
   font-family: Arial;
   height: 100%;
   background-image: url("../images/starsky.jpg");  
   background-size:100% 100%;
   background-attachment: fixed;
   
}
.container-fluid{
	padding:0;
}
.container-fluid.main{
	min-height:700px;
	background:rgba(252,252,252,1);
	margin-bottom:100px;
}
.container-fluid.header{ 
	background: rgba(20,20,20,0.5);
}
#menu-bar { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  height: 55px;
  line-height: 100%;
  border-radius: 0px;
  position:relative;
  top:0;
}

#menu-bar li.brand {
	display:inline-block;
	list-style:none;
	color:#fff;
	height:55px;
	font-size:22px;
	padding:0px 20px;
}
#menu-bar li.brand:focus,  #menu-bar li.brand:hover{
      background:rgba(255,255,255,0.2);
}
#menu-bar li.brand.focus{
	 background:rgba(255,255,255,0.25);
}
#menu-bar li.brand a{
	display:inline-block;
	color:#fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}  
#menu-bar li.brand a:focus, #menu-bar li.brand a:hover{
	text-decoration:none;
}  

#menu-bar li.brand.left{
      margin-left:50px; 
}
#menu-bar li.brand.right{
	float:right;
}
#menu-bar li.brand.small a{
	font-size:18px;
	margin-left:30px;
}
#menu-bar li.brand.small.right a{
	font-size:15px;
	font-weight:700;
}
label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  top:50%;  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height:20px;  
  width: 20px;  
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  text-shadow: none;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: 0 0;
}
label.cd-username {
  background-image: url("../img/profile-me.svg");
}
label.cd-family { 
  background-image: url("../img/profile-family.svg");  
}
label.cd-social { 
  background-image: url("../img/profile-social.svg");  
}
label.cd-discovery { 
  background-image: url("../img/profile-discovery.svg");  
}
label.cd-exit { 
  background-image: url("../img/profile-exit.svg");  
    height:22px;  
    width: 22px; 
    top:55%
}
div.sidebar{
	padding:0;
}
.list-group.side{
	margin-top:10px;
	font-size:16px;
	margin-left:0px;
	padding:0;
}
.list-group.side li.list-group-item{
	margin-left:0;
	color: #4070ac;
	font-weight:600;
	background:#ffffff;
}
.list-group.side li.list-group-item::hover{
	background:#fcfcfc;
}
.list-group.side li.list-group-item.focus{
	background:#f0f0f0;
}
.list-group.side li span.badge{
	background-color:#fc6677;
	font-size:12px;
	margin-top:2px;
}
span.badge.recall{
	background-color:#bb4466;
}
span.badge.accept{
	background-color:#ec4444;
}
span.badge.reject{
	background-color:#222255;
}
.selectpicker{
	background:#fff;
}
span.badge.notice{
	visibility:hidden;
}