body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #fafafa;
}

.form-signup {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input{
    margin-bottom:5px;
}

.form-signup input[type="email"] {

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.alert-danger.alert {
	padding:10px 10px;
	
}