.chat-container {
	padding:15px;
    background-color:#fafafa;
    border:0px solid #99afaf; 
    border-radius:5px
    }
  #messages {
     padding:0 ;
     background:#fff ; 
     height:400px;
     min-height:400px; 
     max-height:400px;
     overflow:auto;
     list-style-type:none;
     border:1px solid #acccde;
     margin:0; 
     border-radius:5px
     }
#messages li {
	 padding:4px 10px;
	 font-size:15px
	 }

#messages li span{
	font-weight:700;
}
button.btn-lg{
	margin:7px 0px 0px 20px;
	min-width:100px;
}
textarea#chat {
	border:1px solid #acccde ;
	margin:13px 0 0 0   ;
    width:100% ; 
    resize:none
    }
label.control-label	 {
	padding-right:10px;
	font-size:13px;
	font-weight:700;
	color:#444444;
	
}               
		                     